<html>
<head>
    <style>
        body {
            text-align: center;
        }

        table {
            margin: 0 auto;
            height: 20vh;
            width: 40vh;
        }

        h1 {
            color: green;
        }
        h6 {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Welcome to #[vars.bankName]</h1>
    <h3>#[vars.emailBody]</h3>
    
    <h6>Note: This is an automated email. Please do not reply to this email.</h6>
</body>
</html>
